.App {
  padding: 0%;
  margin: 0%;
}

.App-logo {
  height: 11vmin;
  pointer-events: none;
  width: 200px;
  height: 90px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fixed_img {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://livedemo00.template-help.com/wt_62172/images/home-slide-4-1920x800.jpg");
  background-size: 125% 100%;
  background-position: center;

  z-index: -1;
}
.scrollTop {
  align-items: right;
  justify-content: right;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;

  
  height: 60px;
  width: 60px;
  position: fixed;
  right: 50px;
  bottom: 130px;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.header_header {
  width: 100%;
  position: fixed;
  top: 0%;

  z-index: 1001;
}

.App-header {
  background-color: #fff;
  box-shadow: 0 0 15px 1px #959595;
  height: 100px;
  display: fixed;
  font-size: calc(10px + 2vmin);
  color: white;

  padding: 0 60px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header_category {
  display: flex;
  align-items: center;
}

.header_category a {
  text-decoration: none;
}

.category {
  font-family: system-ui;
  font-size: 24px;
  font-weight: bold;
  /* color: #000; */
  margin: 0 30px;
  cursor: pointer;

  position: relative;
}

a {
  color: #000;
}

.category:hover {
  color:green;
}

.under_round {
  width: 7px;
  height: 7px;
  background-color: green;
  border-radius: 50%;

  position: absolute;
  left: 50%;
  transform: translate(-50%);

  display: none;
}

#round1 {
  display: block;
}

.my_card {
  font-size: 30px;
  color: #959595;
}

.my_card:hover {
  color: green;
}

.card_number {
  color: red;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* content */
.content_content {
  margin-top: 100px;
}

.section2 {
  padding: 100px 0px;
  background: #fff;
}

.welcome_text {
  width: 100%;
  height: auto;

  padding-bottom: 50px;
}

.wel_title {
  width: 100%;
  color: #000;
  font-family: system-ui;
  font-size: 40px;
  font-weight: 900;

  text-align: center;
}

.detail_text {
  color: #959595;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 400;

  text-align: center;
  padding: 0 20%;
}

.coverflow__coverflow__53z9A {
  background-color: #fff;
}

.icon-cards {
  position: relative;
	width: 60vw;
	height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
	perspective: 1000px;
  transform-origin: center;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards__content .step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  border-radius: 6px;
  transform-origin: center;
  background: #ec3a0d;
  padding: 10px;
}

.carousel1_img {
  width: 100%;
  height: 100%;
}

.icon-cards__item:nth-child(1) {
  /* background: #FDD94F; */
  transform: rotateY(0) translateZ(35vw);
}

.icon-cards__item:nth-child(2) {
  /* background: #F87949; */
  transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards__item:nth-child(3) {
  /* background: #FBAB48; */
  transform: rotateY(240deg) translateZ(35vw);
}

@keyframes carousel {
	0%,  17.5%  { transform: translateZ(-35vw) rotateY(0); }
	27.5%, 45%  { transform: translateZ(-35vw) rotateY(-120deg); }
	55%, 72.5%  { transform: translateZ(-35vw) rotateY(-240deg); }
	82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
}


.carousel1_container {
  height: 100%;
}

.carousel1_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel_price {
  position: absolute;
  background: #19d1df;
  right: 25px;
  bottom: 25px;
  padding: 10px 20px 10px 20px;
  font-size: 30px;
  font-weight: 900;
  border-radius: 10px;
}
/* 
.checkbox {
  position: relative;
  margin-top: 2rem;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #F47956;
  transition: color .3s ease;
  user-select: none;
}

.checkbox:hover {
  color: #F7A95A;
}

.checkbox__checkbox {
  position: relative;
  top: 0;
  width: 1.0625rem;
  height: 1.0625rem;
  background: white;
  border: 1px solid currentColor;
  border-radius: 4px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}

.checkbox__checkbox::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.checkbox > input:checked ~ .checkbox__checkbox {
  border-color: transparent;
  background: #F47956;
  animation: jelly 0.6s ease;
}

.checkbox__label {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox > input:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@keyframes jelly {
  from { transform: scale(1, 1); }
  30% { transform: scale(1.25, 0.75); }
  40% { transform: scale(0.75, 1.25); }
  50% { transform: scale(1.15, 0.85); }
  65% { transform: scale(0.95, 1.05); }
  75% { transform: scale(1.05, 0.95); }
  to { transform: scale(1, 1); }
} */

.section3 {
  padding-bottom: 100px;
}

.menu_text {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 70px;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px;
}

.card {
  width: 300px;
  height: 300px;
  position: relative;
  box-shadow: 0 0 8px 1px #959595;
  border-radius: 5px;
  margin: 3vw;
  color: #fff;
}

.card:hover {
  box-shadow: 0 0 25px 1px #424242;
  cursor: pointer;
  color: rgb(231, 112, 15);
}

.card_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.food_name {
  position: absolute;
  font-weight: 800;
  font-size: 36px;

  background-color: rgb(97 179 8);
  width: 100%;
  text-align: center;
  padding: 12px 0;
  bottom: 0px;
  border-radius: 0 0 5px 5px;
}

.section4 {
  background-color: #fff;
}

.service_text {
  color: #000;
  font-size: 60px;
  font-weight: bold;
  padding: 70px 0px 30px 30px;
}

.card_container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  /* justify-content: center; */
}

.card1 {
  width: 33.1%;
  height: 16vw;
  overflow: hidden;
  /* position: relative; */
  box-shadow: none;
  border-radius: 3px;
  margin: 1px;
}

.card1:hover {
  box-shadow: none;
}

.btn_center {
  display: flex;
  justify-content: center;
}

.card1_img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.show_btn {
  padding: 10px;
  width: 700px;
  background-color: #1bddad;
  margin: 50px 0px 50px 0px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 15px 1px #959595;

  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.show_btn:hover {
  background-color:red;
  cursor: pointer;
}

.show_btn:focus {
  outline: 0px;
}

/* footer */
.footer {
  position: relative;
  background-color: #424242;
  padding: 15px;
  color: #fff;
  z-index: 12;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  margin-left: auto;
  text-align: right;
  width: 50%;
}

.right {
  width: 50%;
  margin-right: auto;
  text-align: left;
  margin-left: 30px;
}

/* navigation menu */


.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.fa-bars:hover {
  color: green;
}

#after_nav {
  display: none;
}

.slide_nav {
  position: absolute;
  width: 100%;
  height: 1000%;
  background: #424242;
  z-index: 1111111;
  display: none;
}

.ncategory {
  font-family: system-ui;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: #d4c6c6;

  text-align: center;
  margin-top: 20px;
}

.ncategory:hover {
  color: #fff;
  cursor: pointer;
}

#nLogo {
  margin-left: 50%;
  transform: translate(-50%);
  margin-top:70px;
  cursor: pointer;
  width: 200px;
  height: 90px;
}

.close {
  position: absolute;
  font-size: 60px;
  right: 55px;
  cursor: pointer;
  color: #d4c6c6;
}

.close:hover {
  color: #fff;
}

/* ABOUTUS CSS STYLE */
.aboutus_content {
  width: 100%;
  /* background-position: center; */
}

.auc_fixed_img {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('https://websitedemos.net/alex08/wp-content/uploads/sites/194/2018/05/bg-img-04-free-img.jpg');
  background-size: 100% auto;
  z-index: -1;
}

.aboutus_title {
  padding-top: 100px;
  height: 500px;
  width: 100%;

  font-family: cursive;
  font-size: 80px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.au_few_words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0px;
  background-color: #fff;
  width: 100%;
  padding-top: 100px;
}

.au_few_logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.aufl_img {
  width: 40%;
}

.au_few_content {
  text-align: center;
}

.aufc_title {
  font-family: 'Playfair Display',serif;
  font-size: 44px;
  line-height: 70px;
  font-weight: bold;
  color: #000;
}

.aufct_line {
  border-bottom: 2px solid #000;
  margin: 0 45%;
  margin-top: 50px;
}

.aufc_detail {
  padding: 40px 200px;
  font-family: 'Playfair Display',serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #959595;
}

.au_story {
  position: relative;
  background-color: #fff;
  margin-top: 1px;
  padding-top: 100px;
}

.au_story_bg {
  position: absolute;
  margin-bottom: 100px;
  width: 100%;
  height: 75%;
  background-image: url('https://websitedemos.net/restaurant-04/wp-content/uploads/sites/194/2020/02/bg-graphic-01-free-img.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.au_story_logo {
  width: 100px;
  height: 60px;
  background-image: url('https://websitedemos.net/restaurant-04/wp-content/uploads/sites/194/2018/05/image-06-free-img.png');
  background-size: 100% auto;
  margin-left: 50%;
  transform: translate(-50%);
}

.contact_container {
  background: #fff;
  padding: 20px;
}

.md-form {
  margin-top: 50px;
}

.phone_container {
  width: 100%;
  height: auto;
  padding: 100px 0px;
}

.phone_icon {
  color: #fff;
  font-size: 100px;
}

.phone_center {
  display: flex;
  justify-content: center;
}

.react_us {
  font-family: fantasy;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin-top: 100px;
}

.phone_num {
  font-family:  fantasy;
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  width: 100%;
  text-align: center;
}

.write_title {
  width: 100%;
  /* text-align: center; */
}

.mdb_card {
  padding: 0px 200px;
}


.zip_container {
  position: absolute;
  width: 500px;
  height: 90px;
  border-radius: 50px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  bottom: 120px;
  padding: 2px;
}

.zip_container:hover {
  /* border: 2px solid salmon; */
  /* box-shadow: 1px 12px red; */
}

.zipc_c {
  position: relative;
  width: 100%;
  height: 100%;
}

.zipc_c .zip_in {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  border-radius: 50%;
}

.zipc_c .md-form {
  margin-top: 0px;
  height: 100%;
  border-radius: 50px;
  background-color: #fff;
  padding-left: 30px;
  font-size: 2rem;
  box-shadow: 0 0 0 0 #fff;
}

.zipc_c .md-form label {
  top: 0;
  left: 0;
  font-size: 24px;
  color: #757575;
  cursor: text;
  transition: transform .2s ease-out, color .2s ease-out;
  transform: translateY(12px);
  transform-origin: 0% 100%;
  margin-left: 30px;
  margin-top: 13px;
}

.zipc_c .md-form label.active {
  transform: translateY(-14px) scale(0.8);
  font-size: 18px;
  border: none;
}

.zipc_c .zip_btn {
  /* display: none; */
  position: absolute;
  width: 40%;
  height: 100%;
  z-index: 1;
  margin: 0px;
  right: 0px;
  border-radius: 0 50px 50px 0px;
  font-size: 24px;
}

.au_logo {
  width: 500px;
  height: 88px;
}

.login_content {
  width: 100%;
  /* min-width: 800px; */
  height: fit-content;
  min-height: 750px;
  /* background-image: url('https://static.wixstatic.com/media/f062e7_a4e4f2d1bada462a88b75f06d294a493~mv2.jpg'); */
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  background: #dadada;
}

/* .dark_background {  
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 870px;
  overflow-y: hidden;
  background-color: #000;
  opacity: 0.8;
} */

#signupContainer {
  display: none;
}

.ls_container {
  margin-top: 60px;
  height: auto;
  padding: 80px 0px;
  z-index: 12;
  display: flex;
  margin-bottom: 100px;
}

.login_container {
  width: 70%;
  height: auto;
  background: #fff;
  padding-top: 30px;
  border-radius: 10px 0px 0px 10px;
  transition: width 0.7s;
}

.login_container1 {
  width: 70%;
  height: auto;
  background: #fff;
  padding-top: 30px;
  border-radius: 0px 10px 10px 0px;
}

.login_title {
  width: 100%;
  text-align: center;
  font-family: system-ui;
  font-size: 70px;
  font-weight: bold;
  color: #000;
}

.login_main {
  width: auto;
  height: auto;
  background: none;
  color: #fff;
  padding: 0px 60px;
}

/* .login_main .card-body .md-form label {
  font-size: 20px;
  top: -10px;
  left: 15px;
} */

.card .md-form label {
  font-size: 20px;
  top: -10px;
  left: 15px;
}

.md-form .form-control {
  padding-left: 18px;
  font-size: 20px;
}

.forget_title {
  color: #000;
  font-size: 24px;
  font-family: system-ui;
  font-weight: 300;

  margin-top: 30px;
  margin-left: auto;
}

.forget_title:hover {
  color: blue;
  text-decoration: underline;
}

.login_btn {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 50px;
}

.face_btn {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  border-radius: 50px;
  background: #fff!important;
  color: #000;
}

.signup_container {
  width: 30%;
  height: auto;
  background-image: url('https://static.wixstatic.com/media/f062e7_a4e4f2d1bada462a88b75f06d294a493~mv2.jpg');
  background-position: center;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  padding: 50px 10px;
  color: #fff;

  display: flex;
  align-items: center;
  transition: width 0.7s;
}

.signup_container1 {
  width: 30%;
  height: auto;
  background-image: url('https://static.wixstatic.com/media/f062e7_a4e4f2d1bada462a88b75f06d294a493~mv2.jpg');
  background-position: center;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  padding: 50px 10px;
  color: #fff;

  display: flex;
  align-items: center;
}

.new_here {
  font-weight: 500;
}

.signup_title {
  font-weight: 500;
  border: 5px solid #fff;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 200px;
}

.signup_title:hover {
  /* background-color: #fff; */
  color: rgb(240, 186, 9);
  border: 5px solid rgb(240, 186, 9);
}

.signup_title1 {
  font-weight: bold;
  font-size: 26px;
  border: 5px solid #dadada;
  width: 100%;
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  color: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.signup_title1:hover {
  /* background-color: #fff; */
  color: rgb(240, 186, 9);
  border: 5px solid rgb(240, 186, 9);
}

@media screen and (max-width: 1090px) {
  .topnav a:not(:nth-child(0)) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  #myTopnav {
    position: absolute;
    right: 40px;
    display: none;
  }

  .category {
    display: none;
  }

  .fa-bars {
    font-size: 30px;
  }

  #after_nav {
    display: block;
  }
}


@media (max-width: 1120px) {
  .auc_fixed_img {
    background-size: auto 100%;
  }
}

@media (max-width: 998px) {
  .show_btn {
    width: 400px;
  }
  .aufc_detail {
    padding: 30px 15px;
  }
  .team_container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mdb_card {
    padding: 0px 0px;
  }
}
@media (max-width: 872px) {
  .card1 {
    width: 33%;
  }

  .aufl_img {
    width: 70%;
  }

  .signup_container1, .signup_container {
    display: none;
  }

  .signup_title1 {
    display: flex;
  }

  .login_container, .login_container1 {
    width: 100%;
    border-radius: 10px;
  }

  .login_main {
    padding: 0 15px;
  }

  .login_title {
    padding: 0 60px;
    font-size: 56px;
  }
}
@media (max-width: 700px) {
  .card1 {
    width: 49%;
    height: 25vw;
  }
}

.active {
  color: green;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .App-header {
    padding: 0 20px;
  }
  .close {
    right: 15px;
  }
  .aboutus_title {
    font-size: 70px;
  }

  .aufl_img {
    width: 100%;
  }
  .zip_container {
    position: absolute;
    width: 360px;
    height: 90px;
    border-radius: 50px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    bottom: 120px;
    padding: 2px;
  }
  
  .zip_container:hover {
    /* border: 2px solid salmon; */
    /* box-shadow: 1px 12px red; */
  }
  
  .zipc_c {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .zipc_c .zip_in {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    border-radius: 50%;
  }
  
  .zipc_c .md-form {
    margin-top: 0px;
    height: 100%;
    border-radius: 50px;
    background-color: #fff;
    padding-left: 30px;
    font-size: 18px;
    box-shadow: 0 0 0 0 #fff;
  }
  
  .zipc_c .md-form label {
    top: 0;
    left: 0;
    font-size: 18px;
    color: #757575;
    cursor: text;
    transition: transform .2s ease-out, color .2s ease-out;
    transform: translateY(12px);
    transform-origin: 0% 100%;
    margin-left: 30px;
    margin-top: 17px;
  }
  
  .zipc_c .md-form label.active {
    transform: translateY(-14px) scale(0.8);
    font-size: 14px;
    border: none;
  }
  
  .zipc_c .zip_btn {
    /* display: none; */
    position: absolute;
    width: 40%;
    height: 100%;
    z-index: 1;
    margin: 0px;
    right: 0px;
    border-radius: 0 50px 50px 0px;
    font-size: 14px;
  }

  .au_logo {
    width: 370px;
    height: 58px;
  }
  
}

.card-title {
  margin-bottom: 0rem;
}
.card-body {
  padding: 0rem;
}



